
/* Global, Credit to - http://thenewcode.com/441/HTML5-CSS-Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

body {
    font-size: 1.4rem;
    font-family: 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* Grid Layout, Credit to - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
.box1 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;

    background: #eeebd9;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 9;
    display: grid;

    background: #eeebd9;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;

    background: #eeebd9;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 10;
    display: grid;

    background: #191919;
    background-image: url(../images/heroimage.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navbar box1 */
.emblem {
    height: 87px;
    width: 80px;
    float: left;
    position: relative;
}

.emblem-img {
    height: 80px;
    width: 80px;
    margin: 10px 10px 10px 0;
    z-index: 6;
}

nav {
    height: 97px;
    width: 100%;
    background: #eeebd9;
}

nav a {
    text-decoration: none;
    color: #191919;
    padding: 7px 10px;
}

a.active, a:hover {
    color: #598e8e;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav-list1 {
    float: right;
    font-size: 25px;
    padding: 0 100px 0 100px;
    height: 100%;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    line-height: 100px;
}

li > a {
    padding: 5px;
    text-align: center;
}

nav #menu-icon {
    color: #191919;
    font-size: 30px;
    line-height: 87px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}

/* Header box4 */
.logo {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 7;
    display: grid;
}

.logo > header > h1 {
    font-size: 50px;
    color: #eeebd9;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    /* text-decoration: underline; */
}

.logo > header > p {
    font-size: 25px;
    color: #eeebd9;
    height: 30%;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.enter {
    text-align: center;
}

.enter a {
    color: #eeebd9;
    text-decoration: none;
}

.enter a:hover {
    color: #598e8e;
}

/* Mission.html style */
.mission-img {
    width: 600px;
    height: 600px;
    margin: 50px 30px 30px 100px;
}

.img > img {
    float: left;
}

.text {
    margin-top: 270px;
}

.text h2 {
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 25px;
}

.text p {
    text-transform: none;
    font-style: italic;
    font-weight: lighter;
    margin-right: 300px;
    margin-left: 100px;
}

/* Footer */
.socials {
    text-align: center;
}

.fa-linkedin, .fa-square-github {
    margin: 30px;
    color: #191919;
}

/* Gallery */
.img-boxes {
    width: 350px;
    height: 610px;
    background-color: #191919;
    border: 2px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
}

/* Credit to - https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */
@media screen and (max-width: 1440px) {
    .text p {
        margin-right: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .text p {
        margin-right: 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 820px) {
    nav #menu-icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #eeebd9;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav a {
        font-size: 20px;
    }
    nav li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    a.active, a:hover {
        color: #598e8e;
    }
    nav ul.show{
        left: 0;
    }
    .logo > header > h1 {
        font-size: 40px;
    }
    .logo > header > p {
        font-size: 20px;
    }
    .mission-img {
        width: 430px;
        height: 430px;
        margin: 40px 160px 10px 170px;
    }
    .text h2 {
        font-size: 25px;
        margin-left: 170px;
    }
    .text p {
        margin-left: 170px;
        margin-right: 160px;
        font-size: 15px;
    }
}

@media screen and (max-width: 540px) {
    .logo > header > h1 {
        font-size: 35px;
    }
    .logo > header > p {
        font-size: 15px;
    }
    .mission-img {
        width: 360px;
        height: 360px;
        margin: 0 90px 10px 90px;
    }
    .text h2 {
        font-size: 25px;
        margin-left: 90px;
    }
    .text p {
        margin-left: 90px;
        margin-right: 67px;
        font-size: 15px;
    }
}

@media screen and (max-width: 425px) {
    .logo > header > h1 {
        font-size: 35px;
    }
    .logo > header > p {
        font-size: 15px;
    }
    .mission-img {
        width: 280px;
        height: 280px;
        margin: 70px 67px 10px 67px;
    }
    .text h2 {
        font-size: 25px;
        margin-left: 67px;
    }
    .text p {
        margin-left: 67px;
        margin-right: 67px;
        font-size: 15px;
    }
}

@media screen and (max-width: 393px) {
    .logo > header > h1 {
        font-size: 30px;
    }
    .logo > header > p {
        font-size: 13px;
    }
    .mission-img {
        width: 280px;
        height: 280px;
        margin: 70px 57px 10px 57px;
    }
    .text h2 {
        margin-left: 57px;
    }
    .text p {
        margin-left: 57px;
        margin-right: 70px;
        font-size: 12px;
    }
}

@media screen and (max-width: 390px) {
    .logo > header > h1 {
        font-size: 30px;
    }
    .logo > header > p {
        font-size: 13px;
    }
    .mission-img {
        width: 280px;
        height: 280px;
        margin: 70px 56px 10px 56px;
    }
    .text h2 {
        margin-left: 56px;
    }
    .text p {
        margin-left: 56px;
        margin-right: 70px;
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    .logo > header > h1 {
        font-size: 30px;
    }
    .logo > header > p {
        font-size: 13px;
    }
    .mission-img {
        width: 240px;
        height: 240px;
        margin: 40px 67px 10px 68px;
    }
    .text h2 {
        margin-left: 68px;
    }
    .text p {
        margin-left: 68px;
        margin-right: 70px;
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .logo > header > h1 {
        font-size: 30px;
    }
    .logo > header > p {
        font-size: 13px;
    }
    .mission-img {
        width: 240px;
        height: 240px;
        margin: 40px 60px 10px 60px;
    }
    .text h2 {
        margin-left: 60;
    }
    .text p {
        margin-left: 60px;
        margin-right: 70px;
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .logo > header > h1 {
        font-size: 28px;
    }
    .logo > header > p {
        font-size: 12px;
    }
    .mission-img {
        width: 220px;
        height: 220px;
        margin: 70px 30px 10px 50px;
    }
    .text h2 {
        font-size: 25px;
        margin-left: 50px;
    }
    .text p {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 10px;
    }
}

@media screen and (max-width: 320px) {
    .logo > header > h1 {
        font-size: 28px;
    }
    .logo > header > p {
        font-size: 12px;
    }
    .mission-img {
        width: 220px;
        height: 220px;
        margin: 70px 30px 10px 30px;
    }
    .text h2 {
        font-size: 25px;
        margin-left: 30px;
    }
    .text p {
        margin-left: 30px;
        margin-right: 50px;
        font-size: 10px;
    }
}