
/* Global, Credit to - http://thenewcode.com/441/HTML5-CSS-Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

body {
    font-size: 1.4rem;
    font-family: 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* Grid Layout, Credit to - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
.box1 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;

    background: #eeebd9;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 9;
    display: grid;

    background: #eeebd9;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;

    background: #eeebd9;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 10;
    display: grid;

    background: #191919;
    background-image: url(../images/heroimage.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navbar box1 */
.emblem {
    height: 87px;
    width: 80px;
    float: left;
    position: relative;
}

.emblem-img {
    height: 80px;
    width: 80px;
    margin: 10px 10px 10px 0;
    z-index: 6;
}

nav {
    height: 97px;
    width: 100%;
    background: #eeebd9;
}

nav a {
    text-decoration: none;
    color: #191919;
    padding: 7px 10px;
}

a.active, a:hover {
    color: #598e8e;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav-list1 {
    float: right;
    font-size: 25px;
    padding: 0 100px 0 100px;
    height: 100%;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    line-height: 100px;
}

li > a {
    padding: 5px;
    text-align: center;
}

nav #menu-icon {
    color: #191919;
    font-size: 30px;
    line-height: 87px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
}

/* Header box4 */
.logo {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 7;
    display: grid;
}

.logo > header > h1 {
    font-size: 50px;
    color: #eeebd9;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    text-decoration: underline;
}

.logo > header > p {
    font-size: 25px;
    color: #eeebd9;
    height: 30%;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.enter {
    text-align: center;
}

.enter a {
    color: #eeebd9;
    text-decoration: none;
}

.enter a:hover {
    color: #598e8e;
}

/* Mission.html style */
.mission-img {
    width: 450px;
    height: 450px;
    margin: 70px 30px 30px 100px;
}

img {
    float: left;
}

.text {
    margin-top: 270px;
    
}

.text h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.text p {
    text-transform: none;
    font-style: italic;
    font-weight: lighter;
    margin-right: 100px;
}

/* Credit to - https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/ */
/* @media screen and (max-width: 1024px) {
    
} */

@media screen and (max-width: 768px) {
    nav #menu-icon {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #eeebd9;
        top: 90px;
        left: -100%;
        text-align: center;
        transition: all .3s;
    }
    nav a {
        font-size: 20px;
    }
    nav li {
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    a.active, a:hover {
        color: #598e8e;
    }
    nav ul.show{
        left: 0;
    }
    .logo > header > h1 {
        font-size: 40px;
    }
    .logo > header > p {
        font-size: 20px;
    }
    .mission-img {
        width: 450px;
        height: 450px;
        margin: 70px 30px 10px 160px;
    }
}

@media screen and (max-width: 425px) {
    .logo > header > h1 {
        font-size: 35px;
    }
    .logo > header > p {
        font-size: 15px;
    }
    .mission-img {
        width: 280px;
        height: 280px;
        margin: 70px 30px 10px 75px;
    }
}

@media screen and (max-width: 375px) {
    .logo > header > h1 {
        font-size: 30px;
    }
    .logo > header > p {
        font-size: 13px;
    }
    .mission-img {
        width: 240px;
        height: 240px;
        margin: 70px 30px 10px 70px;
    }
}

@media screen and (max-width: 320px) {
    .logo > header > h1 {
        font-size: 28px;
    }
    .logo > header > p {
        font-size: 12px;
    }
    .mission-img {
        width: 220px;
        height: 220px;
        margin: 70px 30px 10px 50px;
    }
}