
/* Global, Credit to - http://thenewcode.com/441/HTML5-CSS-Boilerplate */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

body {
    font-size: 1.4rem;
    font-family: 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #191919;
}

/* Grid Layout, Credit to - https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
.box1 {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;

    background: #eeebd9;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 10;
    display: grid;

    background: #eeebd9;
}

.box3 {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 9;
    grid-row-end: 10;
    display: grid;

    background: #eeebd9;
}

.box4 {
    grid-column-start: 2;
    grid-column-end: 14;
    grid-row-start: 2;
    grid-row-end: 9;
    display: grid;

    background: #191919;
    background-image: url(../images/heroimage.webp);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navbar */
ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.nav-list1 {
    float: left;
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 1.78%;
}

.nav-list2 {
    float: right;
    padding-right: 9%;
    padding-top: 2%;
    padding-bottom: 1.78%;
}

li {
    display: inline;
}

li > a {
    display: inline-block;
    padding: 5px;
    text-align: center;
}

/* Header */
.logo {
    grid-column-start: 1;
    grid-column-end: 14;
    grid-row-start: 5;
    grid-row-end: 7;
    display: grid;
}

.logo > header > h1 {
    font-size: 5.5vmin;
    color: #eeebd9;
    text-align: center;
    height: 50%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo > header > p {
    font-size: 3vmin;
    color: #eeebd9;
    height: 50%;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}